<IfModule mod_rewrite.c>

	RewriteEngine on
	
	# Force www
	# RewriteCond %{HTTP_HOST} !^www\.
	# RewriteRule (.*) http://www.%{HTTP_HOST}/$1 [QSA,R=301,L]

	# redirect 404
	ErrorDocument 404 /404
	ErrorDocument 500 /404
		
	# Allow access to assets folder from plugins folders
	RewriteRule ^app/plugins/(.+)/assets - [L]
	RewriteRule ^vendor/(.+)/Resources - [L]
	RewriteRule ^upload/(.+) - [L]
	
	# forbid access to files and folders under app and vendor
	RewriteRule ^app/.*$ - [L,F]
	RewriteRule ^vendor/.*$ - [L,F]

	# rewrite to index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?action=$1 [L,QSA]
	
</IfModule>
