/* #############################
            Layout
############################### */
body {
	background-color: #F5F5F5;
	padding-top: 60px;
}

header {
	nav {
		.username {
			display: inline-block;
		}
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	header {
		nav {
			.username {
				display: none;
			}
		}
	}
}

section {
	background-color: white;
	min-height: 600px;
	padding-bottom: 60px;
}

footer {
	padding: 40px 0 30px;
	color: #777;
	border-top: 1px solid #E5E5E5;
	background-color: #F5F5F5;
}

.sidenav {
	width: 255px;
	background-color: #F5F5F5;
	border-radius: 5px;
	border: 1px solid #E5E5E5;
	padding: 10px 0 15px;

	h4 {
		margin: 0;
		padding: 5px 15px;
		cursor: default;
	}
	.nav > li > a {
		padding: 5px 15px 5px 40px;

		&:hover,
		&.active {
			border-right: 5px solid;
			background: #EEE;
		}
	}

	&.affix 		{ position: fixed; top: 80px; }
	&.affix-bottom 	{ position: absolute; }
}

.tab-content {
	padding-top: 20px;
}

/* #############################
              Form 
############################### */
.form-horizontal {
	.form-group {
		margin: 0 0 5px;

		.field-wrap {
			padding-right: 0;
		}
		
		&.col-lg-12 {
			clear: both;
		}
		&.col-lg-6 {
			label {
				width: 34.6666%;
			}
			.field-wrap {
				width: 65.33333%;
			}
		}
		&.col-lg-4 {
			label {
				width: 54.6666%;
			}
			.field-wrap {
				width: 45.33333%;
			}
		}
		&.col-lg-3 {
			label {
				width: 74.6666%;
			}
			.field-wrap {
				width: 25.33333%;
			}
		}
	}
	.control-label.label-sm {
		padding: 4px 0 0;
	}
	.control-label.label-lg {
		padding: 14px 0 0;
	}
	input[type="checkbox"] {
		margin-top: 0;
	}
	textarea {
		resize: vertical;
	}
}

/* #############################
            DataTable 
############################### */
div.dataTables_length {
	label {
	    width: 460px;
	    float: left;
	    text-align: left;
	}
	select {
	    width: 75px;
	}
}
div.dataTables_filter {
	float: right;

	input {
		width: 130px;
	}
}
div.dataTables_info {
    padding-top: 5px;
}
div.dataTables_paginate {
    float: right;
    margin: 0;

    ul.pagination {
    	margin: 0;
    }
} 
table {
    margin: 1em 0;
    clear: both;

    .col-actions 	{ white-space: nowrap; }
    .sorting 		{ background: url('../images/sort_both.png') no-repeat center right; }
	.sorting_asc 	{ background: url('../images/sort_asc.png') no-repeat center right; }
	.sorting_desc 	{ background: url('../images/sort_desc.png') no-repeat center right; }
	.sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
	.sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

	.progress 		{ margin-bottom: 0; }
}

/* #############################
            Typehead 
############################### */
.typeahead { z-index: 1051; }